* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

#cabecalho {
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(60, 196, 26);
    border-radius: 0px 0px 30px 30px;

    h1 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

#app1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 50px;
    width: 100%;
    padding: 10px 25px 0px 10px;

    a {
        text-decoration: none;
    }

    #botao {
        display: flex;
        height: 40px;
        width: 200px;
        align-items: center;
        justify-content: center;
        border: 0.1rem solid;
        cursor: pointer;

    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 15px;
}

#cont1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    p {
        display: flex;
        width: 400px;
        height: 30px;
        background-color: rgb(138, 131, 131);
        color: aliceblue;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(60, 196, 26);
        border-radius: 8px;

    }

    input {
        width: 200px;
        border-radius: 5px;
    }
}


#botoes {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;

    input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid;
        cursor: pointer;
        background-color: rgb(162, 247, 84);
    }

    input:hover {
        background-color: rgb(52, 243, 4);
    }
}

#cont2 {
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(60, 196, 26);
    border-radius: 15px;

    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        padding-top: 5px;

    }

    #mediaC {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 150px;
        width: 350px;
        background-color: rgb(221, 218, 218);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: rgb(38, 160, 38);
    }

    #mediaV {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 150px;
        width: 350px;
        background-color: rgb(221, 218, 218);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: rgb(38, 160, 38);
    }

    #lucro {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 150px;
        width: 350px;
        background-color: rgb(221, 218, 218);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: rgb(38, 160, 38);
    }

}

button {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: rgb(162, 247, 84);

}

button:hover {
    background-color: rgb(52, 243, 4);
}